.data-list-container {
  list-style: none;
  display: grid;
  margin: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccd0d4;
  grid-template-columns: repeat(3, 1fr);
}

.data-list-item {
  box-sizing: border-box;
  margin-bottom: 0;
 }