.report, .date-selector, .data-list-item { padding: 10px; }

.data-list-container {
    list-style: none;
    display: grid;
    background-color: rgb(176, 180, 183);
    grid-template-columns: repeat(3, 1fr);
}

.data-list-item { }

.date-selector {
    background-color: #cbcfd3;
}

.report {
    margin: 16px;
    max-width: 1000px;
    background-color: #e6ebef;
}

.date-selector-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.decade-active {
    font-weight: bold;
}