.report, .decade-selector, .data-table, .data-table-placeholder {
    padding: 10px;
}

.data-table {
    margin-top: 15px;
    background-color: #c0c3c7;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.data-table th, .data-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.data-table tbody tr:nth-child(odd) {
    background-color: #d1d1d1;
}

.report {
    margin: 16px;
    max-width: 1000px;
    background-color: #e6ebef;
}

.decade-selector {
    background-color: #cbcfd3;
}

.decade-selector-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.decade-active {
    font-weight: bold;
}

.link-button {
    background-color: transparent;
    font-family: serif;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}