.report, .decade-selector, .data-list-item { padding: 10px; }

.data-list-container {
    list-style: none;
    display: grid;
    background-color: rgb(176, 180, 183);
    grid-template-columns: repeat(3, 1fr);
}

.data-list-item { }

.decade-selector {
    background-color: #cbcfd3;
}

.report {
    margin: 16px;
    max-width: 1000px;
    background-color: #e6ebef;
}

.decade-selector-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.decade-active {
    font-weight: bold;
}

.link-button {
    background-color: transparent;
    font-family: serif;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}